<div class="card">
  <div class="card-body">
    <h5 class="card-title">Exclusão de Funcionário</h5>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome do funcionário</label>
        <input type="text" class="form-control" readonly [(ngModel)]="funcionario.func_nome"  name="func_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Cidade do funcionário</label>
        <input type="text" class="form-control" readonly  [(ngModel)]="funcionario.func_cidade" name="func_cidade">
      </div>

      <button (click)="excluirFuncionario()" class="btn btn-primary ">Excluir</button>
      <button routerLink="/listaFuncionario/{{id_cargo}}" class="btn btn-secondary mx-3">Cancelar</button>
    </form>

  </div>
</div>





