<div class="card container mb-5 mt-5 w-50 p-5">
  <div class="box-title my-4 ">
    <h5 class="card-title titulo">Supervisor</h5>
    </div>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome do supervisor </label>
        <input type="text" class="form-control" [(ngModel)]="supervisor.sup_nome" name="sup_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Cidade do supervisor</label>
        <input type="text" class="form-control" [(ngModel)]="supervisor.sup_cidade"  name="sup_cidade">
      </div>
      <div class="mb-3">
        <label class="form-label">Foto atual do supervisor</label>
        <input type="text" class="form-control" [(ngModel)]="supervisor.sup_foto"  name="sup_foto">
      </div>

      <div class="mb-3">
        <label class="form-label">Alterar foto do Supervisor</label>
        <input type="file" class="form-control" (change)="subirFoto($event)"  name="sup_foto">
      </div>



    <div>
      <button (click)="editarSomenteSupervisor()"  class="btn btn-primary cadastrar mt-3 mb-3 ">Alterar dados do Supervisor</button>
     <button routerLink="/supervisorComCargo" class="btn btn-secondary cancel mt-3 mb-3 mx-3">Cancelar</button>
    </div>
</form>


  </div>






