<div class="container mb-5  w-50 pt-5">
  <div class="box-title my-4">
    <h5 class="card-title titulo">Supervisor pertencente ao Cargo</h5>
  </div>
    <form>


      <div class="mb-3 form-floating">
        <input type="text" class="form-control"  [(ngModel)]="supervisor.sup_nome" id="floatingInput" placeholder="Coordenador"  name="sup_nome">
        <label for="floatingInput">Nome do supervisor</label>
      </div>


      <div class="mb-3 form-floating">
        <input type="text" class="form-control"  [(ngModel)]="supervisor.sup_cidade" id="floatingInput" placeholder="Coordenador"   name="sup_cidade">
        <label for="floatingInput">Cidade do supervisor</label>
      </div>


      <div class="mb-3 form-floating">
        <input type="text" class="form-control"  [(ngModel)]="supervisor.sup_foto"  id="floatingInput" placeholder="Coordenador"   name="sup_foto">
        <label for="floatingInput">Foto atual do supervisor</label>
      </div>



      <div class="mb-5 ">
        <label class="form-label">Alterar foto do Supervisor</label>
        <input type="file" class="form-control" (change)="subirFoto($event)"  name="sup_foto">

      </div>

      <div *ngIf="supervisorCadastrado == false">

        <h5 class="text-danger">Não há supervisor inserido nesse cargo</h5>

      </div>


      <div>
    <div *ngIf="supervisorCadastrado"> <button (click)="editarSupervisor()"  class="btn btn-primary cadastrar mx-3 ">Alterar dados do Supervisor</button>
     <button routerLink="/listaCargo" class="btn btn-secondary cancel mx-3">Cancelar</button>
    </div>
  </div>

    <div *ngIf="supervisorCadastrado" class=" mt-3">
      <button (click)="deixarSupervisorSemCargo()"  class="btn btn-secondary cancel mx-3">Remover Supervisor do Cargo</button>
    </div>


     <div *ngIf="!supervisorCadastrado">
      <div class="card  ">
        <div class="mt-3 mx-2 ">
        <h5 class="titulo">Supervisores disponíveis:</h5>
      </div>
        <div class="card-body">
       <select [(ngModel)]="supervisorSemCargo" name="supervisorSemCargo" (ngModelChange)="mostrarSupervisor()">
        <option *ngFor="let supervisor of supervisorSemCargo" [ngValue]="supervisor">
        {{supervisor.sup_nome}}
      </option>
       </select>
       <div>
      <button (click)="atribuirSupervisor()"  class="btn btn-primary cadastrar mt-3 mb-2 ">Salvar</button>
      <button routerLink="/listaCargo" class="btn btn-secondary cancel mx-3 mt-3 mb-2">Cancelar</button>
    </div>

    </div>
    </div>
    </div>


    </form>

  </div>






